<!DOCTYPE html>

<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device width, initial-scale = 1">
    <title>Home Page</title>

    <link rel="shortcut icon" href="/styles/favicon.ico">

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout2.css" type="text/css" />
     <link href="https://fonts.googleapis.com/css?family=Nanum+Pen+Script" rel="stylesheet">


    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>
    
    <script type="text/javascript" src="/scripts/app.js"></script>
  
    <script src="/js/jquery.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>

  </head>

<body>
  <!--Nav Bar Goes here -->
  <nav class="dropdown-header">
    <span>Project Konjosh</span>
    <button id="logout" class="btn-lg" name="logout"> Logout </button>
    <button id="newToDo" class="btn-lg" name="New To Do" onclick="document.getElementById('id02').style.display='block'" > Add to do </button>
    <!-- Button will lead to Login or registration page. Dissapears when logged in and the name of user instead -->
    <button id="loginB" class="btn-lg" name="login" onclick="document.getElementById('id01').style.display='block'">Login</button>
    <button id="regB" class="btn-lg" name="reg" onclick="document.getElementById('id03').style.display='block'">Register</button>
  </nav>
  <!-- Four boxes goes here -->
  <main id="main">
  <article class="container-fluid">
    <div class="row align-items-start">
      <div class="col">
        <h3>Movies / Tv Shows</h3>
      <div class="list-group">

<!-- Movies start -->
      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>

      </div>
    </div>
<!-- movies end -->
<!-- books start -->
    <div class="col">
      <h3>Books</h3>
      <div class="list-group">

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>
      </div>
    </div>
<!-- Books end -->
<!-- Resturaunts start -->
    <div class="col">
      <h3>Restaurants</h3>
          <div class="list-group">

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>
      </div>
    </div>
<!-- Resturaunt End -->
<!-- Products Start -->
    <div class="col">
      <h3>Products</h3>
      <div class="list-group">

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>

      <a href="#" class="list-group-item list-group-item-action flex-column align-items-start">
        <div class="d-flex w-100 justify-content-between">
          <h5 class="mb-1">To Do Item Here </h5>
            <small> To do before</small>
            <div class="btn-group" data-toggle="buttons">

            <label class="btn btn-success active">
              <input type="checkbox" autocomplete="off" checked>
              <span class="glyphicon glyphicon-ok"></span>
            </label>
            </div>
        </div>
        <p class="mb-1">Donec id elit non mi porta gravida at eget metus. Maecenas sed diam eget risus varius blandit.</p>
        <small>Date created here</small>
      </a>
      </div>
    </div>
<!-- Products End -->
  </div>
  </article>

    

    <!-- Code for pop up box -->
    <section>

    <div id="id03" class="myModal">

      <form class="regForm" action="/reg" method="post">

        <h2>Register</h2>

        <div class="logincontainer">

          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
              
          <button class="loginBtn" type="submit">Register</button>
          <button class="cancelBtn" type="button" onclick="document.getElementById('id03').style.display='none'">Cancel</button>
        </div>
    
      </form>

    </div>

      <div id="id01" class="myModal">

      <form class="loginForm" action="/login" method="post">

        <h2>Login</h2>

        <div class="logincontainer">

          <label><b>Username</b></label>
          <input type="text" placeholder="Enter Username" name="uname" required>

          <label><b>Password</b></label>
          <input type="password" placeholder="Enter Password" name="psw" required>
              
          <button class="loginBtn" type="submit">Login</button>

          <button class="cancelBtn" type="button" onclick="document.getElementById('id01').style.display='none'">Cancel</button>

        </div>

      </form>

    </div>


     <div id="id02" class="myModal">

     <form>
      <h2>Add a New To-Do</h2><br>
      
      To-Do:<br>
      <input type="text" style="width: 30em" name="todo" placeholder="Got a cool book or a café you'd like to try?"><br><br>
      
      Complete To-Do By: <br>
      <input id="datepicker" placeholder="Optional"/>
      <br><br>
      
      <button class="submitBtn" type="submit">Submit</button>
      <button class="cancelBtn" type="button" onclick="document.getElementById('id02').style.display='none'">Cancel</button>
      <br><br>
    </form>

    </div>


   </section>

</main>
  <footer>
    funny quote here
  </footer>
</body>
</html>
