<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width = device width, initial-scale = 1">
    <title>Home Page</title>

    <link rel="stylesheet" href="/vendor/normalize-4.1.1.css" type="text/css" />
    <link rel="stylesheet" href="/vendor/border-box.css" type="text/css" />

    <link rel="stylesheet" href="/css/bootstrap.min.css">

    <link rel="stylesheet" href="/styles/layout.css" type="text/css" />
    <link rel="stylesheet" href="/styles/layout2.css" type="text/css" />
    <script type="text/javascript" src="/vendor/jquery-3.0.0.js"></script>

    <script type="text/javascript" src="/scripts/app.js"></script>

    <script src="/js/jquery.min.js"></script>

    <script src="/js/bootstrap.min.js"></script>

  </head>

<body>
  <!--Nav Bar Goes here -->
  <nav class="dropdown-header">
    Project Konjosh
  </nav>
  <!-- Four boxes goes here -->
  <main id="main">
  <article class="container-fluid">
    <div class="row align-items-start">
    <div class="col">
      <p>Lorem ipsum dolor amet tbh bicycle rights artisan man braid lomo chicharrones aesthetic authentic cred la croix pitchfork sartorial. Offal four loko brooklyn mustache gochujang XOXO, plaid PBR&B normcore. Jean shorts brunch kitsch semiotics distillery locavore live-edge irony 3 wolf moon actually tilde stumptown PBR&B narwhal single-origin coffee. Gochujang meh cliche asymmetrical viral organic. Narwhal vexillologist messenger bag stumptown skateboard, vinyl austin lyft kitsch live-edge DIY dreamcatcher you probably haven't heard of them fixie craft beer.</p>
    </div>
    <div class="col">
      <p>Lorem ipsum dolor amet tbh bicycle rights artisan man braid lomo chicharrones aesthetic authentic cred la croix pitchfork sartorial. Offal four loko brooklyn mustache gochujang XOXO, plaid PBR&B normcore. Jean shorts brunch kitsch semiotics distillery locavore live-edge irony 3 wolf moon actually tilde stumptown PBR&B narwhal single-origin coffee. Gochujang meh cliche asymmetrical viral organic. Narwhal vexillologist messenger bag stumptown skateboard, vinyl austin lyft kitsch live-edge DIY dreamcatcher you probably haven't heard of them fixie craft beer.</p>
    </div>
    <div class="col">
      <p>Lorem ipsum dolor amet tbh bicycle rights artisan man braid lomo chicharrones aesthetic authentic cred la croix pitchfork sartorial. Offal four loko brooklyn mustache gochujang XOXO, plaid PBR&B normcore. Jean shorts brunch kitsch semiotics distillery locavore live-edge irony 3 wolf moon actually tilde stumptown PBR&B narwhal single-origin coffee. Gochujang meh cliche asymmetrical viral organic. Narwhal vexillologist messenger bag stumptown skateboard, vinyl austin lyft kitsch live-edge DIY dreamcatcher you probably haven't heard of them fixie craft beer.</p>
    </div>
    <div class="col">
      <p>Lorem ipsum dolor amet tbh bicycle rights artisan man braid lomo chicharrones aesthetic authentic cred la croix pitchfork sartorial. Offal four loko brooklyn mustache gochujang XOXO, plaid PBR&B normcore. Jean shorts brunch kitsch semiotics distillery locavore live-edge irony 3 wolf moon actually tilde stumptown PBR&B narwhal single-origin coffee. Gochujang meh cliche asymmetrical viral organic. Narwhal vexillologist messenger bag stumptown skateboard, vinyl austin lyft kitsch live-edge DIY dreamcatcher you probably haven't heard of them fixie craft beer.</p>
    </div>
  </div>
  </article>


    <!-- Code for pop up box -->
    <article>
   </article>

</main>
  <footer>
    funny quote here
  </footer>
</body>
</html>
