
body {
  font-family: 'Nanum Pen Script', cursive;
  background-color: transparent;

  h1 {
    color: #244751;
  }
}

nav {
  height: 80px;
  width: 100%;
  padding: 0px 2em;
  background-color: #FDA129;
  z-index: 100;
  position: fixed;
  opacity: 0.9;

  button {
    float: right;
    margin-top: 10px;
    z-index: 200;
  }

  span {
    font-size: 50px;
    position: fixed;
    left: 42%;
  }
}

#main {
  .container-fluid {
    overflow-y: auto;
    .col {
      background-color: #F4F4F4;
      margin: 20px;
      padding: 5px;
      border: 2px solid black;
      border-radius: 10px;
      height: 90%;
      z-index: 99;
      margin-top: 100px;
      margin-bottom: 100px;
    }
  }
}

footer {
  height: 80px;
  width: 100%;
  text-align: center;
  padding: 0px 2em;
  background-color: #FDA129;
  z-index: 150;
  position: fixed;
  bottom: 0;
  opacity: 0.9;
}

.loginForm h2{
    text-align: center;
}

input[type=text], input[type=password] {
    width: 100%;
    padding: 12px 20px;
    margin: 8px 0;
    display: inline-block;
    border: 1px solid #ccc;
    box-sizing: border-box;
}

.loginBtn {
    background-color: #00a087;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

.loginBtn:hover {
    opacity: 0.9;
}

.loginBtn:active {
  transform: translateY(4px);
}

.submitBtn {
    background-color: #00a087;
    color: white;
    padding: 14px 20px;
    margin: 8px 0;
    width: 100%;
}

.submitBtn:hover {
    opacity: 0.9;
}

.submitBtn:active {
  transform: translateY(4px);
}

.cancelB:hover {
    opacity: 0.9;
}

.cancelB:active {
  transform: translateY(4px);
}

.logincontainer {
  padding: 16px;
}

.myModal {
  display: none;
  position: fixed;
  z-index: 10000;
  left: 75%;
  top: 10%;
  width: 25%;
  background-color: rgba(215, 215, 215, 0.99);
  border: solid 1px black;
  border-radius: 10px;
  text-align: center;
  padding: 10px;

}

// .myModal-content {
//   background-color: #fefefe;
//   margin: 5% auto 15% auto; 5% from the top, 15% from the bottom and centered
//   border: 1px solid #888;
//   width: 100%; /* Could be more or less, depending on screen size */
// }

html {
  background: url(/image/bg2.png) no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
}

.btn-label {
  position: relative;
  left: -12px;
  display: inline-block;
  padding: 6px 12px;
  background: rgba(0,0,0,0.15);
  border-radius: 3px 0 0 3px;
}
.btn-labeled {
  padding-top: 0;
  padding-bottom: 0;
}
.input-group {
  margin-bottom:10px;
}
.separator {
  border-right: 1px solid #dfdfe0;
}

.input-group-addon
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-control:focus
{
    background-color: rgb(50, 118, 177);
    border-color: rgb(40, 94, 142);
    color: rgb(255, 255, 255);
}
.form-signup input[type="text"],.form-signup input[type="password"] { border: 1px solid rgb(50, 118, 177); }
